<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My site</title>
    <link rel="stylesheet" href="/static/css/main.css">

<!--    <style>
        h1 {
            color: green;
            font-size: 48px;
            }
        p {
            font-size: 14px;
            color: red;
            }
             .odd {
                 color: blue;
             }
             .even {
                 background-color: #DDD;
                     }
    </style>
    -->
</head>
<body>
    <h1 id="title">
        Hello there!
    </h1>
    <img src="static/img/myimage.gif" alt="">
    <p class="odd">What a good day!</p>
    <p class="even">What a good day!</p>
    <p class="odd">What good am i!</p>
    <p class="even">And my song!</p>
</body>
</html>
